<html>
	<head>
		<title> Welcome to ansible</title>
	</head>
	<body>
	<h1>nginx, configuredby ansible </h1>
	<p>If you can see, Ansible successfully installed nginx</p>
	
	<p> {{ansible_managed}} </p>
	</body>
	</html>